@model Crud.Models.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fullname = Model.GetFullName();
}

<h2>Details</h2>

<div>
    <h4>@fullname</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class= "btn btn-sm btn-success" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class="btn btn-sm btn-secondary" })
</p>
