@model IEnumerable<Crud.Models.Person>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<select class="select" data-mdb-filter="true">*@
@using (Html.BeginForm("Index", "Details", FormMethod.Get))
{
    //note:searchItem must match the parameter name
    @Html.TextBox("searchItem", "", new { @class = "form-control", type = "search", placeholder = "search", title = "none", display = "inline-block" })
    <input type="submit" class="btn btn-secondary" value="Search" display="inline-block"/>
}


<p>
    @Html.ActionLink("Create New", "Create", "", new {@class = "btn btn-warning mb-5"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.ID }, new {@class = "btn btn-sm btn-success"}) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-secondary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>

<style>
    #searchItem {
        display: inline-block;
    }
</style>