@model IEnumerable<Crud.Models.Person>


@{
    ViewBag.Title = "Index";
}


@*<select class="select" data-mdb-filter="true">*@
<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <h2>Index</h2>
    @using (Html.BeginForm("Index", "Details", FormMethod.Get))
    {
        //note:searchItem must match the parameter name
        @Html.TextBox("searchItem", "", new { @class = "form-control", type = "search", placeholder = "search", title = "none", display = "inline-block" })
        <input type="submit" class="btn btn-secondary" value="Search" display="inline-block" />
    }
</nav>



<p>
    @Html.ActionLink("Create New", "Create", "", new {@class = "btn btn-warning mb-5 mt-1"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.ID }, new {@class = "btn btn-sm btn-success"}) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm btn-secondary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>