
@model IEnumerable<Crud.Models.Person>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h6 style = "display:inline-block;">List of Persons</h6>
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary text-white", style = "display:inline-block; float:right" })
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="data" class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FName)</th>
                        <th>@Html.DisplayNameFor(model => model.MName)</th>
                        <th>@Html.DisplayNameFor(model => model.LName)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FName</td>
                            <td>@item.MName</td>
                            <td>@item.LName</td>
                            <td>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a href="@Url.Action("Edit","Details", new { id=item.ID})" class="btn btn-secondary btn-sm" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="@Url.Action("Details","Details", new { id=item.ID})" class="btn btn-secondary btn-sm" title="Details"><i class="fa-solid fa-circle-info fa-beat"></i></a>
                                        <a href="@Url.Action("Delete","Details", new { id=item.ID})" class="btn btn-secondary btn-sm" title="Delete"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#data").DataTable();
</script>