<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 20px;
        }

        #searchItem {
            display: inline-block;
            vertical-align: middle;
        }

        .bd-subnavbar {
            position: relative;
            z-index: 1020;
            background-color: rgba(255,255,255,0.95);
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
        }

        .bd-subnavbar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        .bd-navbar {
            padding: .75rem 0;
        }

        .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .navbar-expand-md {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .navbar-brand {
            color: black;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Contacts", "Index", "Home", new { area = "" }, new {@class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home","", new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Details", "Index", "Details","", new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Create", "Contact", new { area = "Contacts" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3 body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
